
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Código categoria</th>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>